#wrapper{
    max-width:1120px;
    margin:0 auto;
}
/*=========== nav ============*/
nav{
    height:120px;
}
.image{
    display:block;
    width:100%;
    max-width: 300px;
    margin: 0 auto;
}
nav .gw-8 .gw-2{
    margin-top:45px;
}
nav .gw-8 .gw-2 a{
    text-decoration: none;
}
/*=========== nav end ============*/
/*=========== header ============*/
header{
    height: 500px;
}
/*=========== hearder end ============*/
/*=========== article ============*/
.row-container .row-inner .img{
    width:95%;
    height:200px;
    margin:0 auto;
}
.row-container .row-inner .gw-4 p{
    width:95%;
    margin:1em auto 0 auto;
    padding:0.5em;
}

/*=========== article end ============*/
/*
footer{
    width:100%;
    height: 80px;
    color:#F9F9F9;
    line-height: 80px;
}
*/
